
<li>
    <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class="bx bx-user-circle"></i>
        </div>
        <div class="menu-title">Student Portal</div>
    </a>
    <ul>
        <li> <a href="{% url 'student_portal:dashboard' %}"><i class="bx bx-right-arrow-alt"></i>Dashboard</a>
        </li>
        <li> <a href="{% url 'student_portal:timetable' %}"><i class="bx bx-right-arrow-alt"></i>Timetable</a>
        </li>
        <li> <a href="{% url 'student_portal:invoice_list' %}"><i class="bx bx-right-arrow-alt"></i>My Fees</a>
        </li>
    </ul>
</li>

