{% extends 'layouts/dashboard.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Submit Assignment" %}{% endblock %}

{% block content %}
    
    {% include 'partials/breadcrumb.html' with page_title=_("Submit Assignment") current_text=_("Submit") %}

    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card border-0 shadow-sm">
                <div class="card-body p-4">
                    <h5 class="card-title mb-4">{% trans "Submit Assignment" %}</h5>
                    
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        
                        <div class="d-flex justify-content-end gap-2 mt-4">
                            <a href="javascript:history.back()" class="btn btn-light">{% trans "Cancel" %}</a>
                            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
